/*Fonts*/
/* sora-100 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/sora-v11-latin-100.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-100.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-100.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-100.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-100.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-100.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-200 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/sora-v11-latin-200.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-200.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-200.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-200.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-200.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-200.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-300 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/sora-v11-latin-300.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-300.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-300.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-500 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/sora-v11-latin-500.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-500.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-500.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-regular - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/sora-v11-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-regular.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-regular.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-600 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/sora-v11-latin-600.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-600.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-600.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-700 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/sora-v11-latin-700.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-700.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-700.svg#Sora') format('svg');
	/* Legacy iOS */
}

/* sora-800 - latin */
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/sora-v11-latin-800.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/sora-v11-latin-800.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/sora-v11-latin-800.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/sora-v11-latin-800.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/sora-v11-latin-800.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/sora-v11-latin-800.svg#Sora') format('svg');
	/* Legacy iOS */
}







.headerimage {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: fit-content;
}

/*Sentence*/
.sentence {
	color: #ffffff;
	font-size: 2vw;
	text-align: left;


}

/*Wrapper*/
.wrapper {
	background-color: rgb(11, 11, 11);
	font-family: 'Sora';
	margin: auto auto;
	padding: 0px 0px;
	position: relative;
	width: 70%;
}

/*Vertical Sliding*/
.slidingVertical {
	display: inline;
	text-indent: 10px;

}

body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background: rgb(11, 11, 11);
}

h1 {
	font-family: 'Sora';
	color: #ffffff;
	font-size: 2.5vw;

}

h2 {
	font-family: 'Sora';
	color: #ffffff;
	font-size: 2.5vw;
}


.button-area {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 500px;
}

p {
	font-family: 'Sora';
	color: #ffffff;
}

a {
	background: #a3adb9;
	padding: 1em 2.4em;
	font-size: 1em;
	margin: 1em;
	color: #0c0b0b;
	flex-grow: 1;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
}

a:hover {
	background: #b91c1c;
}

.slidingVertical span {
	animation: topToBottom 8.5s linear infinite 0s;
	-ms-animation: topToBottom 8.5s linear infinite 0s;
	-webkit-animation: topToBottom 8.5s linear infinite 0s;
	color: #288dff;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	font-family: 'Sora';
	font-size: 2vw;
}

.slidingVertical span:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

.slidingVertical span:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

.slidingVertical span:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}



/*topToBottom Animation*/
@-moz-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		-moz-transform: translateY(-50px);
	}

	10% {
		opacity: 1;
		-moz-transform: translateY(0px);
	}

	25% {
		opacity: 1;
		-moz-transform: translateY(0px);
	}

	30% {
		opacity: 0;
		-moz-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}

	10% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	25% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}

	30% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes topToBottom {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
		-ms-transform: translateY(-50px);
	}

	10% {
		opacity: 1;
		-ms-transform: translateY(0px);
	}

	25% {
		opacity: 1;
		-ms-transform: translateY(0px);
	}

	30% {
		opacity: 0;
		-ms-transform: translateY(50px);
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}






.fakeButtons {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ff3b47;
	border-color: #9d252b;
	display: inline-block;
}

.fakeMinimize {
	left: 11px;
	background-color: #ffc100;
	border-color: #9d802c;
}

.fakeZoom {
	left: 16px;
	background-color: #00d742;
	border-color: #049931;
}

.fakeMenu {
	width: 550px;
	box-sizing: border-box;
	height: 25px;
	background-color: #bbb;
	margin: 0 auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.fakeScreen {
	background-color: #151515;
	box-sizing: border-box;
	width: 550px;
	height: 350px;
	margin: -20 auto;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

p {
	position: relative;
	left: 50%;
	margin-left: -8.5em;
	text-align: left;
	font-size: 1.25em;
	font-family: monospace;
	white-space: normal;
	overflow: hidden;
	width: 0;
}

span {
	color: #fff;
	font-weight: bold;
}

.line1 {
	color: #9CD9F0;
	-webkit-animation: type .5s 1s steps(20, end) forwards;
	-moz-animation: type .5s 1s steps(20, end) forwards;
	-o-animation: type .5s 1s steps(20, end) forwards;
	animation: type .5s 1s steps(20, end) forwards;
}

.cursor1 {
	-webkit-animation: blink 1s 2s 2 forwards;
	-moz-animation: blink 1s 2s 2 forwards;
	-o-animation: blink 1s 2s 2 forwards;
	animation: blink 1s 2s 2 forwards;
}

.line2 {
	color: #CDEE69;
	-webkit-animation: type .5s 4.25s steps(20, end) forwards;
	-moz-animation: type .5s 4.25s steps(20, end) forwards;
	-o-animation: type .5s 4.25s steps(20, end) forwards;
	animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
	-webkit-animation: blink 1s 5.25s 2 forwards;
	-moz-animation: blink 1s 5.25s 2 forwards;
	-o-animation: blink 1s 5.25s 2 forwards;
	animation: blink 1s 5.25s 2 forwards;
}

.line3 {
	color: #E09690;
	-webkit-animation: type .5s 7.5s steps(20, end) forwards;
	-moz-animation: type .5s 7.5s steps(20, end) forwards;
	-o-animation: type .5s 7.5s steps(20, end) forwards;
	animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
	-webkit-animation: blink 1s 8.5s 2 forwards;
	-moz-animation: blink 1s 8.5s 2 forwards;
	-o-animation: blink 1s 8.5s 2 forwards;
	animation: blink 1s 8.5s 2 forwards;
}

.line4 {
	color: #fff;
	-webkit-animation: type .5s 10.75s steps(20, end) forwards;
	-moz-animation: type .5s 10.75s steps(20, end) forwards;
	-o-animation: type .5s 10.75s steps(20, end) forwards;
	animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
	-webkit-animation: blink 1s 11.5s infinite;
	-moz-animation: blink 1s 8.5s infinite;
	-o-animation: blink 1s 8.5s infinite;
	animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes type {
	to {
		width: 17em;
	}
}

@-moz-keyframes type {
	to {
		width: 17em;
	}
}

@-o-keyframes type {
	to {
		width: 17em;
	}
}

@keyframes type {
	to {
		width: 17em;
	}
}